Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-Admin==1.4.0
Flask-WTF==0.9.3
Flask-Script==2.0.5
Flask-Migrate==1.7.0
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.11
WTForms==2.1
Werkzeug==0.11.3
argparse==1.2.1
itsdangerous==0.24
wsgiref==0.1.2
MySQL-python==1.2.5
