{% extends "master.html" %}

{% block background_image %}
<body background="static/img/5.jpg">
  {% endblock %}

  {% block nav_ul %}
  <li role="presentation" ><a href="{{ url_for('user.index') }}">Home</a></li>
  <li role="presentation" class="active"><a href="/about">About</a></li>
  <li role="presentation"><a href="{{ url_for('user.showServices') }}">Service</a></li>
  <li role="presentation"><a href="{{ url_for('user.showPortfolio') }}">Portfolio</a></li>
  {% endblock %}

  {% block ss %}
  <li role="presentation"><a href="{{ url_for('user.signIn') }}">SignIn</a></li>
  <li role="presentation"><a href="{{ url_for('user.signUp') }}">SignUp</a></li>
  {% endblock %}

  {% block portfolio %}
  <table class="table table-hover">
    <thead>
      <tr>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>{{ current_user.first_name }}</td>
	<td>{{ current_user.last_name }}</td>
	<td>{{ current_user.email }}</td>
      </tr>
    </tbody>
  </table>

  {% endblock %}

  {% block jumbotron %}
  {% endblock %}
