{% extends "master.html" %}
{% block title %}Home{% endblock %}

{% block background_image %}
<body background="static/img/011.jpg">
  {% endblock %}
  {% block nav_ul %}
  <li role="presentation" ><a href="{{ url_for('user.index') }}">Home</a></li>
  <li role="presentation"><a href="{{ url_for('user.about') }}">About</a></li>
  <li role="presentation" class="active"><a href="/showServices">Service</a></li>
  <li role="presentation"><a href="{{ url_for('user.showPortfolio') }}">Portfolio</a></li>
  {% endblock %}

  {% block ss %}
  <li role="presentation"><a href="{{ url_for('user.signIn') }}">SignIn</a></li>
  <li role="presentation"><a href="{{ url_for('user.signUp') }}">SignUp</a></li>
  {% endblock %}

  {% block portfolio %}
  {% endblock %}
  {% block jumbotron %}
  {% endblock %}
