{% extends "master.html" %}

{% block nav_ul %}
<li role="presentation" ><a href="{{ url_for('user.index') }}">Home</a></li>
<li role="presentation"><a href="{{ url_for('user.about') }}">About</a></li>
<li role="presentation"><a href="{{ url_for('user.showServices') }}">Service</a></li>
<li role="presentation"><a href="{{ url_for('user.showPortfolio') }}">Portfolio</a></li>
<li role="presentation" class="active"><a href="signIn">SignIn</a></li>
<li role="presentation"><a href="{{ url_for('user.signUp') }}">SignUp</a></li>
{% endblock %}

{% block ss %}
{% endblock %}

{% block portfolio %}
<div class="jumbotron" style="opacity:0.75">
  <img src="static/img/signin.png">
  <form class="form-signin" action="{{ url_for('user.signIn') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="name" class="sr-only">User Name</label><br>
    <input type="name" name="username" id="username" class="form-control" placeholder="User Name" required autofocus><br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required><br>
    <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
<footer class="footer">
  <p>&copy; Company 2016</p>
</footer>
{% endblock %}
{% block jumbotron %}
{% endblock %}
