{% extends "master.html" %}
{% block nav_ul %}
<li role="presentation" ><a href="{{ url_for('user.index') }}">Home</a></li>
<li role="presentation"><a href="{{ url_for('user.about') }}">About</a></li>
<li role="presentation"><a href="{{ url_for('user.showServices') }}">Service</a></li>
<li role="presentation"><a href="{{ url_for('user.showPortfolio') }}">Portfolio</a></li>
{% if current_user.is_authenticated %}
<li role="presentation" class="active"><a href="/logout">Logout</a></li>
{% else %}
<li role="presentation"><a href="{{ url_for('user.signIn') }}">SignIn</a></li>
<li role="presentation" class="active"><a href="/signUp">SignUp</a></li>
{% endif %}
{% endblock %}

{% block ss %}
{% endblock %}

{% block portfolio %}
<div class="jumbotron" style="opacity: 0.75">
  <img src="static/img/signup1.jpg">
  <form class="form-signin" action="{{ url_for('user.signUp') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="inputName" class="sr-only">User Name</label><br>
    <input type="name" name="username" id="userName" class="form-control" placeholder="User Name" required autofocus>
    <label for="inputName" class="sr-only">First Name</label><br>
    <input type="name" name="firstname" id="firstName" class="form-control" placeholder="First Name" required autofocus>
    <label for="inputName" class="sr-only">Last Name</label><br>
    <input type="name" name="lastname" id="lastName" class="form-control" placeholder="Last Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label><br>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus><br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required><br>
    <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div>
<footer class="footer">
  <p>&copy; Company 2016</p>
</footer>
{% endblock %}
{% block jumbotron %}
{% endblock %}
