<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
	  href="{{url_for('static',
		filename='signup.css')}}" />
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/signup.js"></script>
  </head>
  <body background="static/img/011.jpg">
    <div class="container">
      <div class="header">
	<nav>
	  <ul class="nav nav-pills pull-right">
	    <li role="presentation" ><a href="{{ url_for('index') }}">Home</a></li>
	    <li role="presentation"><a href="{{ url_for('about') }}">About</a></li>
	    <li role="presentation"><a href="{{ url_for('showServices') }}">Service</a></li>
	    <li role="presentation"><a href="{{ url_for('showPortfolio') }}">Portfolio</a></li>
	    {% if current_user.is_authenticated %}
	    <li role="presentation" class="active"><a href="/logout">Logout</a></li>
	    {% else %}
	    <li role="presentation"><a href="{{ url_for('signIn') }}">Login</a></li>
	    <li role="presentation" class="active"><a href="/signUp">Register</a></li>
	    {% endif %}
	  </ul>
	</nav>
	<h3 class="text-muted">@Flask App</h3>
      </div>
      <div class="jumbotron">
	<img src="static/img/signup1.jpg">
	<form class="form-signin" action="{{ url_for('signUp') }}" method="POST">
	  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	  <label for="inputName" class="sr-only">User Name</label><br>
	  <input type="name" name="username" id="userName" class="form-control" placeholder="User Name" required autofocus>
	  <label for="inputName" class="sr-only">First Name</label><br>
	  <input type="name" name="firstname" id="firstName" class="form-control" placeholder="First Name" required autofocus>
	  <label for="inputName" class="sr-only">Last Name</label><br>
	  <input type="name" name="lastname" id="lastName" class="form-control" placeholder="Last Name" required autofocus>
	  <label for="inputEmail" class="sr-only">Email address</label><br>
	  <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus><br>
	  <label for="inputPassword" class="sr-only">Password</label>
	  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required><br>
	  <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	</form>
      </div>
      <footer class="footer">
	<p>&copy; Company 2016</p>
      </footer>
    </div>
  </body>
</html>
